version: '3.2'

volumes:
  streaming:
    driver: local
  database:
    driver: local
  fedora:
    driver: local
  work:
    driver: local
  solr:
    driver: local
  redis:
    driver: local
  gems:
    driver: local
  npms:
    driver: local

services:
  db:
    image: mariadb:10.3
    environment:
      MYSQL_ROOT_PASSWORD: mysecretpassword
      MYSQL_PASSWORD: mysecretpassword
      MYSQL_USER: avalon
    volumes:
      - database:/var/lib/mysql
    ports:
      - "3306:3306"

  fedora:
    image: avalonmediasystem/fedora:4.7.5
    volumes:
      - fedora:/data
    environment:
      - JAVA_OPTIONS=-Dfcrepo.modeshape.configuration=classpath:/config/file-simple/repository.json -Dfcrepo.home=/data
    ports:
      - "8984:8080"

  solr:
    image: solr:6.6.4-alpine
    ports:
      - "8983:8983"
    volumes:
      - solr:/opt/solr/server/solr/mycores
      - ./solr/config:/config
      - ./solr/scripts/solr-precreate-avalon.sh:/docker-entrypoint-initdb.d/solr-precreate-avalon.sh

  matterhorn:
    image: avalonmediasystem/matterhorn
    volumes:
      - ./masterfiles:/masterfiles
      - streaming:/streamfiles
      - work:/work
    ports:
      - "8080:8080"

  hls:
    image: avalonmediasystem/nginx
    network_mode: "host"
    environment:
      AVALON_DOMAIN: http://127.0.0.1:3000
      AVALON_STREAMING_PORT: 8880
    volumes:
      - streaming:/data
    ports:
       - "8880:80"

  redis:
    image: redis:alpine
    volumes:
      - redis:/data
    ports:
      - "6379:6379"

  avalon:
    image: avalonmediasystem/avalon:6.x-dev
    build:
      context: ./docker
    command: "bin/docker-start" # Todo: this start?
    # command: "/rails_init-dev.sh"
    depends_on:
      - db
      - fedora
      - solr
      - redis
    environment:
      - APP_NAME=avalon
      - ASSET_HOST=http://localhost:3000
      - AVALON_BRANCH=develop
      - SETTINGS__DOMAIN=http://localhost:3000
      - CONTROLLED_VOCABULARY=config/controlled_vocabulary.yml
      - DATABASE_URL=mysql2://root:mysecretpassword@db:3306/
      - SETTINGS__DROPBOX__PATH=/masterfiles
      - SETTINGS__DROPBOX__UPLOAD_URI=./masterfiles
      - EMAIL_COMMENTS
      - EMAIL_NOTIFICATION
      - EMAIL_SUPPORT
      - FEDORA_BASE_PATH
      - FEDORA_NAMESPACE=avalon
      - FEDORA_URL=http://fedoraAdmin:fedoraAdmin@fedora:8080/fedora/rest
      - SETTINGS__FFMPEG__PATH=/usr/bin/ffmpeg
      - MASTER_FILE_PATH:/masterfiles/upload
      - MASTER_FILE_STRATEGY=move_ui_upload_only
      - SETTINGS__MASTER_FILE_MANAGEMENT__PATH=/masterfiles/upload
      - SETTINGS__MASTER_FILE_MANAGEMENT__STRATEGY=move_ui_upload_only
      - MATTERHORN_URL=http://matterhorn_system_account:CHANGE_ME@matterhorn:8080/
      - MATTERHORN_CLIENT_MEDIA_PATH=/masterfiles
      - MATTERHORN_SERVER_MEDIA_PATH=/masterfiles
      - MEDIAINFO_PATH=/usr/bin/mediainfo
      - RAILS_ENV=development
      - REDIS_URL=redis://redis:6379
      - SECRET_KEY_BASE=abcd
      - SMTP_ADDRESS
      - SMTP_AUTHENTICATION
      - SMTP_DOMAIN
      - SMTP_ENABLE_STARTTLS_AUTO
      - SMTP_OPENSSL_VERIFY_MODE
      - SMTP_PASSWORD
      - SMTP_PORT
      - SMTP_USER_NAME
      - SOLR_URL=http://solr:8983/solr/development
      - SOLR_TEST_URL=http://solr:8983/solr/test
      - SETTINGS__STREAMING__CONTENT_PATH=/streamfiles
      - SETTINGS__STREAMING__STREAM_DEFAULT_QUALITY=medium
      - SETTINGS__STREAMING__HTTP_BASE=http://localhost:8880/avalon
      - SETTINGS__STREAMING__SERVER=nginx
      - SETTINGS__STREAMING__STREAM_TOKEN_TTL=20
      - SETTINGS__TIMELINER__TIMELINER_URL=http://localhost:3000/timeliner
      - SYSTEM_GROUPS=administrator,group_manager,manager
      - Z3950_ATTRIBUTE
      - Z3950_DATABASE
      - Z3950_HOST
      - Z3950_PORT
    volumes:
      - .:/home/app/avalon
      - ./masterfiles:/masterfiles
      - gems:/home/app/gems
      - npms:/home/app/node_modules
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
