{
  "DATABASE_URL":"mysql2://{username}:{password}@localhost:3306/rails?pool=5&timeout=5000",
  "FEDORA_URL":"http://{username}:{password}@localhost:8984/fedora/rest/prod",
  "FEDORA_BASE_PATH":"/prod"                                         
  "MATTERHORN_URL":"http://matterhorn_system_account:{password}@{host}:4080/",
  "MATTERHORN_CLIENT_MEDIA_PATH":"/masterfiles",
  "MATTERHORN_SERVER_MEDIA_PATH":"/masterfiles",
  "REDIS_URL":"redis://localhost:6379",
  "SOLR_URL":"http://localhost:8983/solr/avalon",
  "SETTINGS__NAME":"UAL-Avalon6-dev",
  "SETTINGS__DOMAIN":"https://{host}/",
  "SETTINGS__BIB_RETRIEVER__PROTOCOL":"z39.50",
  "SETTINGS__BIB_RETRIEVER__HOST":"129.xxx.xxx.xxx",
  "SETTINGS__BIB_RETRIEVER__PORT":"2200",
  "SETTINGS__BIB_RETRIEVER__DATABASE":"Unicorn",
  "SETTINGS__BIB_RETRIEVER__ATTRIBUTE":"12",
  "SETTINGS__CONTROLLED_VOCABULARY__PATH":"config/controlled_vocabulary.yml",
  "SETTINGS__DROPBOX__PATH":"/srv/avalon6/dropbox/",
  "SETTINGS__DROPBOX__UPLOAD_URI":"sftp://{host}/dropbox",
  "SETTINGS__EMAIL__COMMENTS":"deploy@localhost",
  "SETTINGS__EMAIL__NOTIFICATION":"deploy@localhost",
  "SETTINGS__EMAIL__SUPPORT":"deploy@localhost",
  "SETTINGS__EMAIL__ERRORS":"deploy@localhost",
  "SETTINGS__EMAIL__MAILER__SMTP__ADDRESS":"localhost",
  "SETTINGS__EMAIL__MAILER__SMTP__PORT":"25",
  "SETTINGS__EMAIL__MAILER__SMTP__ENABLE_STARTTLS_AUTO":"true",
  "SETTINGS__FFMPEG__PATH":"/usr/bin/ffmpeg",
  "SETTINGS__MASTER_FILE_MANAGEMENT__STRATEGY":"move_ui_upload_only",
  "SETTINGS__MASTER_FILE_MANAGEMENT__PATH":"/srv/avalon6/dropbox",
  "SETTINGS__MEDIAINFO__PATH":"/usr/bin/mediainfo",
  "SETTINGS__STREAMING__SERVER":"wowza",
  "SETTINGS__STREAMING__CONTENT_PATH":"/avalon6",
  "SETTINGS__STREAMING__STREAM_DEFAULT_QUALITY":"medium",
  "SETTINGS__STREAMING__STREAM_TOKEN_TTL":"20",
  "SETTINGS__STREAMING__RTMP_BASE":"rtmp://{host}/avalon6",
  "SETTINGS__STREAMING__HTTP_BASE":"http://{host}:1935/avalon6/_definst_",
  "SETTINGS__TIMELINER__TIMELINER_URL":"http://localhost:3000/timeliner"
  "SECRET_KEY_BASE":"",
  "GOOGLE_ANALYTICS_TOKEN":"",
  "ROLLBAR_TOKEN":""
  "LTI_SERVERS":""
  "LTI_AUTH_KEY":""
  "LTI_AUTH_SECRET":""
}
