<div class="about_page page container">
	<h2>About ERA A<span class="plus">&plus;</span>V</h2>
	<p>ERA A<span class="plus">&plus;</span>V is the <%= link_to "University of Alberta Libraries", "https://library.ualberta.ca" %> media streaming repository service. ERA A<span class="plus">&plus;</span>V provides access to audiovisual materials in support of teaching, learning, and research at the University of Alberta. For more information on the technology behind ERA A+V see <%= link_to "Technology and Partnerships", technology_path %>.</p>
	<h3>Key features include:</h3>
	<ul>
		<li>Powerful multimedia file conversion and deposit</li>
		<li>Search and discovery functionality</li>
		<li>CCID protection of files</li>
		<li>Individualized access to files (i.e. single user or group of users)</li>
		<li>Tools for making playlists and the ability to easily embed content into websites</li>
		<li>Support for standards-based metadata and persistent links</li>
		<li>The ability to add captions to videos</li>
	</ul>
</div>
