<div class="deposit_page page container">
	<h2>How to deposit into ERA A<span class="plus">&plus;</span>V</h2>
	<p>Materials may be deposited to ERA A<span class="plus">&plus;</span>V through mediated deposit only. Our mediated deposit service includes investigating permissions for researchers’ audiovisual materials, and identifying those which allow for archiving into the ERA A<span class="plus">&plus;</span>V repository. Where permitted, we will deposit your audiovisual items to ERA A<span class="plus">&plus;</span>V. University of Alberta faculty, staff, and students may submit items to ERA A<span class="plus">&plus;</span>V through mediated deposit by completing the <a href="https://goo.gl/forms/SivEEBeJzxkwM0Zh2">Digital Media Deposit Request form</a>. For all other inquiries, please contact the ERA Helpdesk at erahelp@ualberta.ca / 780.492.4359 for more information about this service.</p>
</div>

