<div class="deposit_page page container">
	<h1>How to deposit into ERA A+V</h1>
	<p>Materials may be deposited to ERA Audio+Video (ERA A+V) through mediated deposit only. Our mediated deposit service includes investigating permissions for researchers’ audiovisual materials, and identifying those which allow for archiving into the ERA A+V repository. Where permitted, we will deposit your audiovisual items to ERA A+V. University of Alberta faculty, staff, and students may submit items to ERA Audio+Video through mediated deposit by completing the <a href="https://goo.gl/forms/SivEEBeJzxkwM0Zh2">Digital Media Deposit Request form</a>. For all other inquiries, please contact the ERA Helpdesk at erahelp@ualberta.ca / 780.492.4359 for more information about this service.</p>
</div>

