<div class="technology_page page container">
	<h1>Technology and Partnerships</h1>
	<p>ERA A<span class="plus">&plus;</span>V is built on the <a href="http://www.avalonmediasystem.org/">Avalon Media System</a>, a robust, fully open source solution for curating and providing online access to digital audio and video collections in libraries and archives. Built on major open source technologies including Hydra, Fedora, Solr, Blacklight, and Opencast Matterhorn, Avalon is being developed collaboratively by several high-profile institutional partners, including the libraries at Indiana University and Northwestern University. The University of Alberta Libraries are using Avalon to support a media streaming service — <a href="https://era-av.library.ualberta.ca">ERA A<span class="plus">&plus;</span>V</a> — for the University of Alberta community, and will be working towards future integration with the University’s well-established institutional repository, <a href="https://era.library.ualberta.ca">ERA: Education and Research Archive.</a></p>
</div>

