<%#
Copyright 2011-2018, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<h2 id="featured_content_header">Featured Content</h2>
<div id="featured_content" class="row featured_content">
  <div class="col-md-4">
    <h4 class="text-center">Featured Video Collection</h4>
    <a href="/catalog?f%5Bcollection_ssim%5D%5B%5D=Nosotros+Television+Programme&q=&search_field=all_fields" class="embed-responsive embed-responsive-16by9">
      <%= image_tag "welcome_video_collection.jpg", alt: "Featured Video Collection", class: "embed-responsive-item"%>
      <div class="caption post-content"><h5 class="text-center">Nosotros Television Programme</h5></div>
    </a>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Featured Audio Collection</h4>
    <a href="/catalog?f%5Bavalon_resource_type_ssim%5D%5B%5D=Sound+Recording&f%5Bcollection_ssim%5D%5B%5D=Convocation+Hall+" class="embed-responsive embed-responsive-16by9">
      <%= image_tag "welcome_audio_collection.jpg", alt: "Featured Audio Collection", class: "embed-responsive-item"%>
      <div class="caption post-content"><h5 class="text-center">Convocation Hall Sound Recordings</h5></div>
    </a>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Featured Item</h4>
    <a href='/catalog?q="+An+Evening+with+Edward+Snowden+on+Security%2C+Public+Life+and+Research"' class="embed-responsive embed-responsive-16by9">
      <%= image_tag "welcome_featured_item.jpg", alt: "Featured Item", class: "embed-responsive-item" %>
      <div class="caption post-content"><h5 class="text-center">An Evening with Edward Snowden</h5></div>
    </a>
  </div>
</div>

<div class="info-pane">
  <p>Welcome to ERA A<span class="plus">&plus;</span>V,
  the University of Alberta's media streaming repository.
  ERA A<span class="plus">&plus;</span>V is a new feature of the University of Alberta's
  <a href="https://era.library.ualberta.ca">Education and Research Archive (ERA)</a>.
  ERA A<span class="plus">&plus;</span>V provides access to audiovisual materials in support of teaching, learning, and research at the University of Alberta. ERA A<span class="plus">&plus;</span>V is developed and
  supported by the <a href="https://library.ualberta.ca/">University of Alberta Libraries</a>.</p>
</div>
