span.tooltip-label-parenthesis {
  font-weight: normal;
  font-size: smaller;
}
span.tooltip-label-required {
  color: red;
}
div.license-description {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
div.terms-of-use-custom {
  margin-left: 30px;
  margin-right: 30px;
}
